/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My CSS*/



body{
	background:black;
}

#container{
	height:auto;
	background: white;
	margin: 0 auto;
	border-radius: 5px;
}

header{
	height: auto;
	width:auto;
	background: white;
}

header h1{
	font-size:1.5em;
	text-align: center;
}

header h1 a{
	font:5em 'Amaranth', sans-serif;
	text-decoration: none;
	color:black;
}

nav{
	height: auto;
	width: auto;
	background: white;
}

nav ul{
	width: auto;
	margin: 0 auto;
	text-align: center;
	display: inline;
}

nav ul li{
	list-style: none;
	text-align: center;

}

nav ul li a{
	font-family: 'Jura', sans-serif;
	font-size: 1.5em;
	color: #1f1f1f;
	text-decoration: none;
	padding:2px 5px 2px 5px;
}

nav ul li a:last-child{
	margin-bottom: 2%;
}



nav ul li a:hover{
	background: #c1c1c1;
	padding:2px 5px 2px 5px;
	box-shadow: 5px 5px 5px black;
}

main{
	height: auto;
	width: auto;
	background: #c1c1c1;
	margin:0 auto;
	border: 1px solid black;
	border-radius: 2px;
}

main article#indexPage{
	height: auto;
	width:auto;
	margin: 0 2%;
	padding:5% 0% 5% 0;
}

main article{
	height: auto;
	width:auto;
	margin: 0 2%;
	padding:5% 0% 5% 0;
}


main article p{
	width: auto;
	font-family: 'Jura', sans-serif;
	font-size: 1.25em;
	color: white;
	text-shadow: 2px 2px 2px black;
}

main article p span{
	color:yellow;
}

main article p a#geekwiseLink{
	color: #dd2222;
	text-shadow:none;
}

main aside{
	height:auto;
	width: auto;
	border:2px solid grey;
	background: white;
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
	margin: 2% auto;
}

main article h2{
	font-family: 'Jura', sans-serif;
	font-size: 1.5em;
	color: yellow;
	text-shadow: 2px 2px 2px black;
}


main aside h3{
	color:yellow;
	border-bottom: 1px solid grey;
	font-family:  'Jura', sans-serif;
	font-size: 1.5em;
	text-shadow: 2px 2px 2px black;
}

main aside p{
	font-family:  'Jura', sans-serif;
	font-size:1.2em;
	padding: 5px;
}

main aside p a{
	color:#dd2222
}

main aside p a:hover{
	background: #c1c1c1;
}

footer{
	width:auto;
	height: auto;
	background: white;
}

footer div#sociallinks{
	width:auto;
	height: auto;
	margin: 0 auto;
}

footer div#sociallinks ul{
	list-style: none;
	margin: 0 auto;
	text-align: center;
}

footer div#sociallinks ul li{
	margin: 0 auto;
	text-decoration: none;
	display: inline-block;
	
}

footer div#sociallinks ul li a{
	text-indent: -9999px;
	display: inline-block;
	height:38px;
	width: 40px;
	background: url(../images/icons.png)no-repeat;
	position: relative;
}

footer div#sociallinks ul li:first-child a{
	background-position: -237px -548px;
}

footer div#sociallinks ul li:nth-child(2) a{
	background-position: -182px -547px;
}

footer div#sociallinks ul li:last-child a{
	background-position: -512px -592px;
}

footer div#sociallinks ul li a:hover{
	opacity: .8;
}

footer div{
	width: auto;
	margin: 6px 0 5px 5px;
}

footer div p{
	width: 96%;
	margin: 0 auto;
	font-family:  'Jura', sans-serif;
	font-size:1em;
	text-align: center;
}

footer div p a{
	text-align: center;
	color:yellow;
	text-decoration: none;
	padding:2px 5px 2px 5px;
	text-shadow:2px 2px 2px black;
}

footer div p a:hover{
	background: #c1c1c1;
	padding:2px 5px 2px 5px;
	box-shadow: 5px 5px 5px black;

}

footer > p{
	font: .75em 'Jura', sans-serif;
	color:black;
}